{% extends "category_header.html" %}  {% block content %}

<section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-12 d-flex align-items-stretch">
            <div class="content">
              <h3>Breast Cancer Test</h3>
              <div class="row">
                <div class="col-6">
                  <div class="image">
                    <div class="top">
                      <div class="row">
                        <div class="col-5">
                          <div class="ui"><i class="fas fa-image" aria-hidden="true" style="margin-right: 5px;"></i> Upload Image</div>

                        </div>
                      </div>
                  </div>
                    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
           
        </label>
        <input type="file" name="file" id="imageUpload" accept="image/*">
<center>
    <div class="image-section">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div> 
            <button type="button" class="btn btn-primary btn-lg " onclick="save()" value="breastcancer" id="btn-predict">Predict!</button>
        </div>
    </div>
    </center>
 </form>

                  </div>
                </div> 
                <div class="col-6"> 
                  <div class="row">
                    <div class="col-2 select first activ" onclick="first()" id="first"> 
                      <div class="row d-flex justify-content-center">
                        <i class="fas fa-link"></i>
                      </div>
                      <div class="row d-flex justify-content-center" style="margin-top: 5px;">
                        Result
                      </div> 
                    </div>
                    <div class="col-2 select second" onclick="second()" id="second"> 
                      <div class="row d-flex justify-content-center">
                        <i class="fas fa-file"></i>
                      </div>
                      <div class="row d-flex justify-content-center" style="margin-top: 5px;">
                        Description
                      </div>
                    </div>
                  </div>
                  <div id="first1">
                   <div class="loader" style="display:block;"></div>
                  <p id="result">
                     <span> </span>
                    </p>  </div>
                     <div id="description"  style="display:none;">
                    <div id="desc"  style="display:none;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <h4>Name :</h4>
                </div>
                <div class="col-9">
                    <h4 id="name"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h4>Age :</h4>
                </div>
                <div class="col-9">
                    <h4 id="age"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h4>Sex :</h4>
                </div>
                <div class="col-9">
                    <h4 id="sex"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h4>Email-id :</h4>
                </div>
                <div class="col-9">
                    <h4 id="email"></h4>
                </div>
            </div>
        </div>
    </div>
  </div>
                </div>
                <div class="col-3">
                  <p style="color: #F5F5F5">
                Diagnosis has never been more easier and reliable. Here at Medilab we bring together biology and AI 
                to deliver you a trustworthy diagnosis.                
              </p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->
    

</div>

{% endblock %}
